/* You can add global styles to this file, and also import other style files */

html, body, app-root {
  height: 100%;
  margin: 0;
  padding: 0;
}
body { margin: 0; font-family: 'Istok Web', sans-serif; }

@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');

.faster-one-regular {
  font-family: "Faster One", system-ui;
}

a {
  text-decoration: none;
}

/* Navbar styles */
.img-and-link{
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
  gap: 6px;
}

.nav-item-icon {
  height: 25px;
  width: 25px;
}

.selected-nav-link {
  color: #600EA8;
}

.nav-btn {
  background-color: #600EA8;
  color: #ffffff;
  border: none;
  border-radius: 20px;      
  padding: 8px 15px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
/* End of navbar styles*/
