/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');

html, body, app-root {
  height: 100%;
  margin: 0;
  padding: 0;
}
body { margin: 0; font-family: 'Istok Web', sans-serif; }

.faster-one-regular {
  font-family: "Faster One", system-ui;
}

a {
  text-decoration: none;
}

/* Navbar styles */
.img-and-link{
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
  gap: 6px;
}

.selected-nav-link {
  color: #600EA8;
}

.nav-btn {
  background-color: #600EA8;
  color: #ffffff;
  border: none;
  border-radius: 20px;      
  padding: 8px 15px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.nav-item-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: transform 0.2s ease-in-out;
}

.nav-item-icon:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.nav-link.nav-btn:hover {
    background-color: #4b0d88;
    color: white;
}

/* End of navbar styles*/

/* Ride history table styles */
.filter-input .mat-mdc-text-field-wrapper {
  background-color: #ffffff !important;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  padding: auto;
  overflow: hidden;

}

/* Remove Material fill underline */
.filter-input .mdc-line-ripple,
.filter-input .mdc-line-ripple::before,
.filter-input .mdc-line-ripple::after {
  display: none !important;
}

/* Remove default fill background layer */
.filter-input .mdc-text-field--filled {
  background-color: transparent !important;
}

/* Text color */
.filter-input .mat-mdc-input-element {
  color: #600EA8;
}

