.nav-item-icon {
    width: 30px;   
    height: 30px;  
    border-radius: 50%; 
}

.nav-item-icon:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}
