.logo-img{
    height: 40px;
    width: 40px;
}

.logo-text{
    font-family: "Faster One", system-ui;
    font-weight: 400;
    color: #600EA8;
    font-size: 30px;
}

.logo-container{
    display: flex;
    align-items: center;
    gap: 15px;
}

.navbar {
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 25px;
    margin-left: 35px;
    margin-right: 35px;
    border-radius: 30px;
    padding-left: 2%;
    padding-right: 2%;
    vertical-align: middle;
}

#navbar-links {
    display: flex;
    align-items: center;
    align-self: flex-end;
    vertical-align: middle;
    gap: 20px;
}
