<app-navbar>
  <li class="nav-item">
    <a class="img-and-link" routerLink="/driver-home">
      <span class="nav-link">Home</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="img-and-link" routerLink="/driver-ride-history">
      <img src="icons/icons8-history-48.png" alt="" class="nav-item-icon">
      <span class="nav-link">Ride History</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-btn" routerLink="/home">Log out</a>
  </li>
</app-navbar>

<div class="page-container" *ngIf="ride">

  <!-- LEFT COLUMN -->
  <div class="column left-column">

    <div id="map-container">
      <h2 class="heading">Route</h2>
      <app-map
        [routeStart]="ride.startLocation"
        [routeEnd]="ride.endLocation"
        [routeStops]="ride.routeStops"
      ></app-map>
    </div>

    <div class="info-container">
      <h2 class="heading">Inconsistencies</h2>
      <p class="info">
        {{ ride.inconsistencies ?? 'No inconsistencies' }}
      </p>
    </div>

    <div class="info-container">
      <h2 class="heading">Reviews</h2>
      <p class="info" *ngIf="ride.reviews?.length; else noReviews">
      <ng-container *ngFor="let review of ride.reviews">
        Passenger: {{ review.passengerName }}<br>
        Driver Rating: {{ review.driverRating }} / 5<br>
        Vehicle Rating: {{ review.vehicleRating }} / 5<br>
        Comment: {{ review.comment }}
        <hr>
      </ng-container>
    </p>
    <ng-template #noReviews>
      <p class="info">No ratings</p>
    </ng-template>
    </div>
  </div>

  <!-- RIGHT COLUMN -->
  <div class="column right-column">

    <div class="info-container">
      <h2 class="heading">Ride info</h2>
      <p class="info">
        Route: {{ ride.startLocation.address }} → {{ ride.endLocation.address }} <br>
        Start Time: {{ ride.startTime | date:'HH:mm' }} <br>
        End Time: {{ ride.endTime | date:'HH:mm' }} <br>
        Date: {{ ride.startTime | date:'dd.MM.yyyy.' }} <br>
        Price: {{ ride.price }} RSD <br>
        Status: {{ ride.status }}
      </p>
    </div>

    <div class="info-container">
      <h2 class="heading">Driver</h2>
      <p class="info">
        Name: {{ ride.driverName }} <br>
        Vehicle: {{ ride.vehicle }} <br>
      </p>
    </div>

    <div class="info-container">
      <h2 class="heading">Passengers</h2>
      <p class="info">
        Orderer: {{ ride.ordererName }} <br>
        <span *ngFor="let p of ride.linkedPassengers">
          {{ p }}<br>
        </span>
      </p>
    </div>

    <!-- panic info will be shown only if panic was triggered -->
    <div class="info-container" *ngIf="ride.panic">
      <h2 class="heading">PANIC info</h2>
      <p class="info">
        Triggered by: {{ ride.panicTriggeredBy ?? '-' }} <br>
        Time: {{ ride.panicTriggeredAt ?? '-' }} <br>
      </p>
    </div>

    <div class="info-container" *ngIf="ride.status === 'CANCELLED'">
      <h2 class="heading">Cancellation info</h2>
      <p class="info">
        Cancelled by: {{ ride.cancelledBy ?? '-' }} <br>
        <!-- reason for cancellation may be added later -->
      </p>
    </div>

  </div>
</div>
