


.chat-card{
    z-index: 2000;

    align-self: center;
    margin-left: auto;
    margin-right: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);

    width: 400px;
    height: 600px;

    display: flex;
    flex-direction: column;
    
}


.close-btn {
  position: absolute;
  top: 20px;
  right: 12px;
  background: transparent;
  border: none;
  border-radius: none;
  font-size: 40px;
  font-weight: 500;
  cursor: pointer;
  color: #555;
}

/* KONTEJNER ZA PORUKE */
.messages-container {
  flex: 1;
  overflow-y: auto;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #f9f3ff;
}

/* BUBBLE */
.message-bubble {
  max-width: 70%;
  padding: 8px 12px;
  border-radius: 14px;
  font-size: 14px;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
}

.own-message {
  align-self: flex-end;
  background-color: #d3acf6;
  border-bottom-right-radius: 4px;
}

.other-message {
  align-self: flex-start;
  background-color: #ffffff;
  border-bottom-left-radius: 4px;
  border: 1px solid #e0e0e0;
}

/* TEKST */
.message-text {
  white-space: pre-wrap;
}

/* VREME */
.message-time {
  font-size: 11px;
  color: #777;
  margin-top: 4px;
  align-self: flex-end;
}

/* DONJI DEO */
.chat-input {
  display: flex;
  gap: 8px;
  padding: 8px;
  background-color: #ffffff;
}

.input-field {
  flex: 1;
}

.send-btn{
    border: none;
    border-radius: 20px;      
    padding: 8px 15px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    background-color: #600EA8;
    color: #ffffff;

    width: 70px;
    height: 40px;

    transition: background-color 0.3s;

}

.send-btn:not(:disabled):hover {
  background-color: #4b0b88; /* tamnija boja na hover */
}

/* Stil kada je dugme disabled */
.send-btn:disabled {
  background-color: #cccccc; /* svetlo siva */
  color: #666666;            /* tekst sivo */
  box-shadow: none;
  cursor: auto;
}

