<div class="start-ride-container" *ngIf="activeRide; else noRide">
  <div class="ride-card">

    <h3 class="ride-header">
      {{ activeRide.startLocation?.address }} - {{ activeRide.endLocation?.address }}
    </h3>

    <div class="ride-details">

      <div class="detail-item">
        <img src="icons/icons8-address-80.png" class="route-icon" alt="Start Point">
        <div class="text-group">
          <span class="full-text">
            <strong>Start Point:</strong>
            {{ activeRide.startLocation?.address }}
          </span>
        </div>
      </div>

      <div class="detail-item">
        <img src="icons/icons8-destination-40.png" class="route-icon" alt="Destination">
        <div class="text-group">
          <span class="full-text">
            <strong>Destination Point:</strong>
            {{ activeRide.endLocation?.address }}
          </span>
        </div>
      </div>

      <div class="stations-info" *ngIf="activeRide.routeStops?.length > 0">
        <p><strong>Stations:</strong></p>
        <p *ngFor="let stop of activeRide.routeStops">
          <img src="icons/icons8-stop-40.png" class="route-icon" alt="Stop">
          {{ stop.address }}
        </p>
      </div>

    </div>

    <div class="card-action">
      <button class="btn-primary-start" (click)="onStartRideClick()">
        Start ride
      </button>
    </div>

  </div>
</div>

<ng-template #noRide>
  <div class="ride-card">
    <h3>No ride available to start</h3>
  </div>
</ng-template>
