.reset-password-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-color: #f5f5f5; 
  font-family: 'Istok Web', sans-serif;
}

.reset-password-container {
  width: 350px;
  padding: 20px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  text-align: center;
}

h2 {
  color: #600EA8;
  margin-bottom: 20px;
}

input[type="password"] {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 30px;
  border: 2px solid #ccc;
  background-color: #EDE6F5;
  font-size: 14px;
}

input:focus {
  outline: none;
  border: 2px solid #600EA8;
}

.buttons {
  margin-top: 15px;
}

.buttons button {
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  border: none;
  background-color: #600EA8;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.buttons button:hover {
  background-color: #4b0b87;
}
