.overlay {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.2);


  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 999;
}

.notification-card{
    z-index: 1000;

    align-self: center;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);

    min-width: 400px;
    height: auto;

    display: flex;
    flex-direction: column;
    
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 12px;
  background: transparent;
  border: none;
  border-radius: none;
  font-size: 40px;
  font-weight: 500;
  cursor: pointer;
  color: #555;
}

.title{
    margin: 15px;
}

a{
  font-size: 22;
  color: #600EA8;
}

pre {
  font-family: 'Istok Web', sans-serif;
}